.App {
  text-align: center;
  background-color: grey;
}

.App-header {
  align-items: right;
}

.NavDiv{
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: 12px;
  color: white;
  margin-left: 1%;
  text-indent: 5px;
  text-decoration: underline;
  background-color: black;
}

.logoutButton{
  display:flex;
  justify-content: right;
}

.navHeader{
    background-color: black;
}

.logoutButtonDiv{
  display: flex;
  justify-content: right;
}

.loginForm{
  padding-top: 1%;
  background-color: rgb(246, 119, 22);
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.usernameInput{
  display: flex;
  justify-content: center;
  max-width: 300px;
  text-align: center;
}

.passwordInput{
  display: flex;
  justify-content: center;
  max-width: 300px;
  text-align: center;
}

.loginButton{
  max-width: 100px;
}

.createAccountButton{
  color: black;
  
}

.siteTitle{
  font-size: 60px;
  color: rgb(246, 119, 22);
  background-color: black;
  font-weight: bold;
  margin: 0%;
}

.bold {
  font-weight: bold;
}

.console{
  color:purple;
  font-weight: bold;
}

.gameCard {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: rgba(223, 223, 230, 0.811);
  margin: 1rem;
  border-style: solid;
  border-width: 4px 4px 4px 4px;
  border-color: rgb(15, 15, 15);
  border-radius: 0.3rem;
  text-align: center;
  width: 250px;
  height: 340px;
}

.cardImage{
  display:flex;
  align-self: center;
  margin: auto;
}

.HomeText{
  min-height: 5vh;
  font-size: 20px;
  color: white;
}

#game_img {
  border-style: solid;
  border-radius: 1rem;
}

#home_card {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
