.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  align-items: center;
}

.HomeTitle{
  font-size: 30px;
  color: rgb(246, 119, 22);
  background-color: black;
}

.HomeText{
  min-height: 50vh;
  font-size:20px;
  color: white;
}

.NavDiv{
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: 12px;
  color: white;
  margin-left: 1%;
  text-indent: 5px;
  text-decoration: underline;
}